name: Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Checkout
        uses: actions/checkout@main
      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.6.0
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup Taskfile
        uses: arduino/setup-task@main
        with:
          version: "3.x"
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Checkout
        uses: actions/checkout@main
      - name: Dependencies
        run: task deps
      - name: Unit Tests
        run: task test
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.out
  check-goreleaser:
    name: Validate Goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Setup Taskfile
        uses: arduino/setup-task@main
        with:
          version: "3.x"
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Checkout
        uses: actions/checkout@main
      - name: Check Goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: check
