name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    # TODO: migrate to goreleaser and docker builder
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Setup Taskfile
        uses: arduino/setup-task@main
        with:
          version: "3.x"
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "~1.16"
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      - name: Tag name
        id: tag_name
        run: |
          echo ::set-output name=pushed_tag::${GITHUB_REF#refs/tags/}
      - uses: release-drafter/release-drafter@v5
        with:
          publish: true
          name: ${{ steps.tag_name.outputs.pushed_tag }}
          tag: ${{ steps.tag_name.outputs.pushed_tag }}
          version: ${{ steps.tag_name.outputs.pushed_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
